# Configuracoes do Banco de Dados
DATABASE_URL=postgresql://usuario:senha@localhost:5432/nome_banco

# Configuracoes do Django
SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
